*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  width: 1600px;
  height: 92px;
}

.logo {
  margin-bottom: 16px;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links a{
  text-decoration: none;
  font-weight: 500;
  color: #0f172a;
}

.nav-btn{
  background: #469165;
  color: #ffffff;
  padding: 10px 16px;
  width: 164px;
  height: 44px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}


.hero{
  position: relative;
  background: url('./assets/hero-bg.png') center / cover no-repeat;
  padding: 120px 0;
}

.hero-overlay{
  position: absolute;
  inset: 0;
  background-image: url("./assets/hero-bg.png");
  width: 1600px;
  height: 674px;
}

.hero-content{
  position: relative;
  max-width: 900px;
  margin: auto;
  text-align: center;
  color: #ffffff;
}

.badge{
  display: inline-block;
  background: #e6f4ea;
  color: #166534;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.hero h1{
  font-size: 56px;
  font-weight: 800;
  line-height: 1.2;
}

.hero h1 span{
  color: #2f855a;
}

.hero p{
  max-width: 720px;
  margin: 20px auto 32px;
  color: #cbd5e1;
}

.hero-buttons{
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn-primary{
  background: #469165;
  color: #ffffff;
  padding: 14px 26px ;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
}

.btn-secondary{
  border: 1px solid #cbd5e1;
  color: #ffffff;
  padding: 14px 26px;
  border-radius: 8px;
  text-decoration: none;
}




.problem{
  width: 1600px;
  height: 648px;
  padding: 200px 60px;
  text-align: center;
}

.problem h2{
  font-size: 36px;
  font-weight: 800;
}

.problem .sub{
  margin: 14px 0 50px;
  color: #64748b;
}

.problem-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

.card{
  width: 322px;
  height: 300px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon{
  width: 48px;
  height: 48px;
  margin: 0 auto 18px;
  border-radius: 50%;
  background: #F95555;
  color: #ef4444;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.card h3{  
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.card p{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 17px;
  color: #64748b;
}


.solution{
  width: 1600px;
  height: 840px;
  padding: 90px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.solution-left img{
  max-width: 100%;
}

.solution-tag{
  font-size: 14px;
  font-weight: 700;
  color: #2f855a;
}

.solution h2{
  font-size: 40px;
  margin: 14px 0;
}

.solution p{
  color: #64748b;
  margin-bottom: 20px;
}

.solution ul{
  list-style: none;
}

.solution li{
  margin-bottom: 12px;
  color: #334155;
}



.cta{
  margin: 0px auto;
  margin-bottom: 120px;
  padding: 50px;
  width: 1360px;
  height: 384px;
  background: #f8f6f1;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
}

.cta h2{
  padding-top: 20px;
  font-size: 36px;
}

.cta p{
  margin-top: 15px;
  color: #64748b;
  margin-bottom: 40px;
}

.btn{
  background: #469165;
  color: #ffffff;
  padding: 14px 26px ;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 40px;
}


#ssd{
  padding-top: 30px;
  display:flex;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  color: #64748b;
}


.footer{
  background: #001931;
  color: #cbd5e1;
  padding: 50px 60px;
  width: 1600px;
  height: 348px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social{
  display: flex;
  gap: 14px;
}

.social span{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #FAFAFA;
  color: #001931;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 10px;
}

.logo img {
  margin-top: 70px;
  margin-left: 120px;
}

.footer p{
  margin-top: 85px;
  text-align: center;
  font-size: 14px;
  color: #FAFAFA;
  
}
#alu{
  font-size: 16px;
  font-weight: 600;
}

.social span:hover{
  background: #111827;
  color: #ffffff;
  border-color: #111827;
}

